@import '../../assets/styles/_basics.scss';
@import '../../assets/styles/_fonts.scss';

.rarity-filter {
  @include hoverState;
  border: none;
  padding: 10px 40px;
  border-radius: $border-radius-value;
  margin: 5px 0;
  font-family: $header-font;
  font-size: 0.8rem;
  font-weight: 700;
  transition: $transition-value;

  &:hover {
    filter: brightness(120%);
  }
}