@import './assets/styles/basics';
@import './assets/styles/colors';

.page-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;

  .menu-content {
    position: relative;
    display: grid;
    grid-template-rows: 10vh 85vh 5vh;
    margin-right: $horizontal-margin-value;

    .page-content {
      // overflow: auto;
      // height: 100%;
    }
  }
}

.balance-input {
  border: none;
  border-bottom: 1px solid rgba($color: black, $alpha: 0.25);
  transition: $transition-value;

  &:focus {
    outline: none;
    border-bottom: 1px solid rgba($color: $bright-blue, $alpha: 1.0);
  }
}

i {
  line-height: 1;
}