@import '../../assets/styles/colors';
@import '../../assets/styles/basics';

.info-container {
  display: grid;
  grid-template-columns: 2fr 1fr 6fr;
  margin: 10px 0;
  position: relative;
  width: 95%;

  .info {
    font-size: 0.9rem;
  }

  a {
    text-decoration: underline;
    transition: $transition-value;

    &:hover {
      color: $bright-blue;
    }
  }

  .icon-edit {
    @include hoverState;
    position: absolute;
    right: -3%;
    transition: $transition-value;

    &:hover {
      color: $bright-blue;
    }
  }

}