@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_basics.scss';

.user-drop-down {
  position: absolute;
  background-color: $primary-gray-pink;
  right: 0;
  top: calc(100% + 10px);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid $neutral-dark-blue;
  animation: dropDownAnimation 0.2s ease-in-out forwards;
  overflow: hidden;

  @keyframes dropDownAnimation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .option {
    @include hoverState;
    @include spanHoverEffect;

    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      background-color: $primary-red-pink;

    }
  }
}