@import '../../assets//styles/_basics.scss';

.navigation {
  width: calc(100% - 194px);
  box-sizing: border-box;
  padding-left: 50px;

  .log-in {
    @include hoverState;
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }
}