@import '../../assets//styles/_basics.scss';

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .log-in {
    @include hoverState;

    font-weight: 700;
  }
}

.setting {
  margin-right: 40px;

  &:hover {
    cursor: pointer;
  }
}