@import '../../../assets/styles/basics';
@import '../../../assets/styles/colors';

.users-page {
  height: 100%;

  .users-container {
    height: calc(100% - 150px);
    overflow-y: auto;
  }

  .users-expand {
    @include hoverState;
    width: max-content;
    margin: 10px auto;
    border-radius: 100%;

    &:hover {
      background-color: rgba($color: $bright-blue, $alpha: 0.5);
    }
  }
}