@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_basics.scss';

.heroes-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 40vh;
  z-index: 1;

  .heroes-content {
    background-color: $neutral-dark-pink;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    @include scrollBar;

  }

  .heroes-input-container {
    width: 100%;
    background-color: $neutral-dark-pink;

    .heroes-input {
      display: block;
      margin: 10px auto;
      padding: 2% 5%;
      width: 80%;
      border: none;
      border-radius: $border-radius-value;
    }
  }
}