@import '../../../assets/styles/basics';
@import '../../../assets/styles/colors';

.items-page {
  .toolbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .actions {
      display: flex;
      align-items: center;

      .action {
        @include hoverState;
        margin-right: 10px;
        padding: 5px 20px 8px;
        border-radius: $border-radius-value;
        transition: $transition-value;
        display: flex;
        align-items: center;
        box-shadow: $shadow-value;

        span {
          margin: 0 5px;
        }

        &:hover {
          background-color: rgba($color: $bright-blue, $alpha: 0.5);
        }
      }
    }
  }
}