@import '../../assets/styles/_basics.scss';

.hero-portrait {
  @include hoverState;
  width: 15%;
  margin: 2.09%;
  position: relative;
  transition: $transition-value;

  img {
    width: 100%;
  }

  &:hover {
    filter: brightness(120%);
    transform: scale(1.2);
  }
}