@import '../../assets/styles/_basics.scss';
@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_fonts.scss';

.dropdown-container {
  @include hoverState;
  width: 100%;
  box-sizing: border-box;
  box-shadow: $box-shadow-value;
  padding: 15px;
  margin-bottom: 20px;
  font-family: $header-font;
  position: relative;
  transition: $transition-value;

  &:hover {
    background-color: $primary-bright-pink;
  }

  &.active {
    background-color: $primary-bright-pink;
    z-index: 2;

  }
}

.dropdown-info {
  @include scrollBar;
  width: 100%;
  box-sizing: border-box;
  box-shadow: $box-shadow-value;
  padding: 0px;
  padding-top: 0px;
  margin-bottom: 20px;
  font-family: $header-font;
  margin-top: 0px;
  max-height: 0;
  opacity: 0;
  transition: $transition-value;
  z-index: 1;
  animation: dropdownInfoAni 0.25s ease-in-out forwards;
  overflow-y: auto;

  @keyframes dropdownInfoAni {
    50% {
      margin-top: -40px;
      max-height: 50vh;
      padding: 15px;
      padding-top: 50px;
      opacity: 0;
    }

    100% {
      margin-top: -40px;
      max-height: 50vh;
      padding: 15px;
      padding-top: 50px;
      opacity: 1;
    }
  }
}