@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_basics.scss';
@import '../../assets/styles/_fonts.scss';

.trading-counter {
  grid-row-end: span 2;
  background-color: $primary-gray-pink;
  border-radius: $border-radius-value;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .total-money {
    background-color: $primary-red-pink;
    border-radius: $border-radius-value;
    width: 90%;
    margin-top: 10px;

    .total-money-content {
      margin: 20px;
      color: white;
      font-family: $header-font;
      font-weight: 700;
    }
  }

  &.bot {
    grid-column-start: 4;
  }
}