@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_basics.scss';

.btn {
  border: none;
  width: 90%;
  border-radius: $border-radius-value;
  transition: $transition-value;

  &:hover {
    cursor: pointer;
  }

  &.btn-filter {
    padding: 5% 0;
    background-color: $primary-red-pink;
    color: white;
    margin: 10px 0;

    &:hover {
      background-color: $primary-bright-pink;
    }
  }

  &.btn-trade {
    background-color: $neutral-dark-blue;
    height: 10%;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    filter: brightness(50%) grayscale(100%);

    &:hover {
      cursor: default;
    }

    &.available {
      filter: unset;

      &:hover {
        cursor: pointer;
        filter: brightness(150%);
      }
    }
  }

  &.server-btn {
    width: 50%;
    font-size: 1.2rem;
    padding: 10px 10%;
    background-color: $primary-gray-pink;
    color: white;

    &:hover {
      background-color: $primary-bright-pink;
    }
  }

  &.btn-currency {
    padding: 10px 10%;
    width: 90%;
    margin: 20px auto;
    background-color: $primary-red-pink;
    color: white;

    &:hover {
      background-color: $primary-bright-pink;
    }
  }

  &.btn-filter-state {
    padding: 10px 10%;
    width: 90%;
    margin: 0 auto;
    background-color: $primary-red-pink;
    color: white;

    &:hover {
      background-color: $primary-bright-pink;
    }

    &.global {
      margin-top: 50px;
    }
  }
}