@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_basics.scss';
@import '../../assets/styles/_fonts.scss';

.steam-inven-area {
  grid-row-end: span 3;
  grid-column-end: span 4;
  background-color: $primary-red-pink;
  border-radius: $border-radius-value;

}