@import '../../assets/styles/_colors.scss';

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;

  .filter-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .line {
    width: 5%;
    height: 5px;
    background-color: $neutral-dark-blue;
  }

  &.filter-counter {
    justify-content: unset;
    width: 90%;
    padding: 5%;

    .btn {
      margin-top: 20px;
    }
  }
}