@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_basics.scss';

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;

  .filter-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .filter-label {
      color: white;

      &.user,
      &.bot {
        margin: 2px 0;
        font-size: 0.8rem;
      }

      &.global {
        margin: 10px 0;
      }
    }

    .filter-input-container {
      display: flex;
      align-items: center;

      span {
        color: white;
        margin-right: 5px;
        font-size: 0.8rem;
      }

      .filter-box {
        border: none;
        padding: 5%;
        border-radius: $border-radius-value;
        width: 80%;
        text-align: center;
      }
    }

  }

  &.filter-counter {
    justify-content: unset;
    width: 90%;
    padding: 5%;

    .btn {
      margin-top: 20px;
    }
  }
}