@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_basics.scss';

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  position: absolute;
  background-color: $neutral-dark-blue;
  border-radius: $border-radius-value;
  z-index: 1;

  .filter-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .filter-label {
      color: white;
      margin: 10px 0;

      &.user,
      &.bot {
        margin: 2px 0;
        font-size: 0.8rem;
      }

      &.global {
        margin: 10px 0;
      }
    }

    .filter-input-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      span {
        color: white;
        margin-right: 5px;
        font-size: 0.8rem;
      }

      .filter-box {
        border: none;
        padding: 5%;
        border-radius: $border-radius-value;
        width: 80%;
        text-align: center;
      }
    }
  }
}