@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_fonts.scss';
@import '../../assets/styles/_basics.scss';

.inventory-slot {
  @include hoverState;
  width: 17%;
  margin: 1.25%;
  background-color: $neutral-dark-blue;
  text-align: center;
  color: white;
  font-family: $header-font;
  font-size: 0.7vw;
  font-weight: 700;
  user-select: none;
  overflow: hidden;
  transition: $transition-value;

  .item-price {
    margin: 5px 0;
  }

  .item-rarity {
    margin: 5px 0;
    overflow-x: hidden;
  }

  &.activated {

    &:hover {
      filter: brightness(120%);
      transform: scale(1.1);

    }
  }

}