@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_fonts.scss';

.inventory-slot {
  width: 17%;
  margin: 1.25%;
  background-color: $neutral-dark-blue;
  text-align: center;
  color: white;
  font-family: $header-font;
  font-size: 0.8rem;
  font-weight: 700;
  user-select: none;

  .item-price {
    margin: 5px 0;
  }

  .item-rarity {
    margin: 5px 0;
    overflow-x: hidden;
  }

  .item-img {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}