@import '../../assets/styles/_colors.scss';

.user-offers {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr 2fr 1fr 1fr 1fr;
  gap: 20px;
  font-size: 0.8rem;
  position: relative;
  text-align: center;
  margin-bottom: 25px;

  &.offer-list {
    background-color: $neutral-dark-pink;
    color: white;
    padding: 10px 0;
    align-items: center;
  }

  &.user-offer {
    &::after {
      content: '';
      border: 0.5px solid black;
      position: absolute;
      bottom: -15px;
      width: 100%;
    }
  }

  .offer-id {
    span {
      word-break: break-all;
    }
  }

  .items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .pics-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
      gap: 5px;

      .item-pic {
        display: block;
        width: 65px;
        height: auto;
      }
    }

    .price-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;

      span {
        margin: 5px;
        font-size: 0.8rem;
      }
    }
  }

  .offer-status {

    .status-circle {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin: 0 auto 5px;
    }
  }

  .compare-arrow {
    align-self: center;
  }

  .user-balance {
    &.negative {
      color: red;
    }

    &.gray {
      color: gray;
    }
  }
}