@import '../../assets/styles/_fonts.scss';

@mixin hover {
  &:hover {
    cursor: pointer;
  }
}

.user-container {
  display: flex;
  align-items: center;

  .account-balance {
    margin-right: 20px;
    font-weight: 700;
  }

  .avatar {
    width: 40px;
    margin-right: 20px;
    @include hover;
  }

  .username {
    font-family: $header-font;
    font-weight: 700;
    margin-right: 20px;
    @include hover;

  }

  .dropdown-arrow {
    margin-right: 40px;
    @include hover;
  }

}