@import '../../assets/styles/_fonts.scss';
@import '../../assets/styles/_basics.scss';

.user-container {
  display: flex;
  align-items: center;
  position: relative;

  .steam-trade-url {
    @include hoverState;
    @include spanHoverEffect;
    margin-right: 50px;
  }

  .credit-card {
    @include hoverState;
    margin-right: 20px;

  }

  .account-balance {
    margin-right: 20px;
    font-weight: 700;
    background-color: white;
    padding: 5px 10px;
    border-radius: $border-radius-value;
  }

  .avatar {
    width: 40px;
    margin-right: 20px;
    border-radius: 100%;

  }

  .username {
    @include hoverState;
    font-family: $header-font;
    margin-right: 20px;

  }

  .dropdown-arrow {
    @include hoverState;
    margin-right: 20px;
  }

}