@import '../../assets/styles/basics';

.heroes-selector {
  position: relative;

  .current-hero {
    @include imgHoverEffect;
    width: 60px;
    height: 34px;
    background-color: grey;

    .current-hero-img {
      width: 100%;
      height: 100%;
    }
  }

  .heroes-container {
    position: absolute;
    width: 35vw;
    height: 50vh;
    bottom: 0;
    left: 120%;
    transform: translateY(50%);
    background-color: white;
    z-index: 1;
    border-radius: $border-radius-value;

    .heroes-query {
      display: block;
      width: 80%;
      margin: 20px auto 10px;
    }

    .heroes-content {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      overflow-y: auto;
      height: 80%;
      padding: 0 15px;
      box-sizing: border-box;
    }
  }

  .hero-container {
    @include imgHoverEffect;
    width: 60px;
    height: max-content;
    margin: 8px;
    overflow: hidden;

    .hero-portrait {
      width: 100%;
      height: 100%;
    }
  }
}