@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_fonts.scss';

.profile-section {
  margin: 5% 10%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;

  .info-section {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 20px;

    .profile-pic {
      border-radius: 100%;
    }

    .check-container {
      margin-left: 10px;

      &.green {
        color: #009200;

      }

      &.red {
        color: #b20000;
      }
    }

    .account-balance {
      text-align: center;

      p {
        box-sizing: border-box;
        padding: 10px 20px;
        background-color: $primary-red-pink;
        font-family: $header-font;
      }
    }
  }

  .detail-section {
    width: auto;
  }
}