@import '../../assets/styles/_basics.scss';
@import '../../assets/styles/_colors.scss';

.header {
  background-color: $primary-red-pink;
  height: 50px;
  padding: 10px $margin-horizontal-value;
  display: flex;
  align-items: center;
  justify-content: space-between;
}