@import '../../assets/styles/colors';
@import '../../assets/styles/basics';

.rarity-selector {
  position: relative;

  .current-rarity {
    margin-left: 20px;
  }

  .rarity-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -50%;
    left: 120%;
    padding: 20px 30px;
    border-radius: $border-radius-value;
    //background-color: rgba($color: LightSlateGray, $alpha: 1);
    background-color: white;
  }
}