@import '../../assets/styles/_fonts.scss';
@import '../../assets/styles/_basics.scss';

.steam-trade-url {
  @include hoverState;
  @include spanHoverEffect;
  margin-right: 30px;
  position: relative;

  .steam-trade-url-input-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    pointer-events: none;
    opacity: 0.5;

    &:hover {
      cursor: default;
    }

    &.animation {
      animation: placeholderAnimation 0.2s ease-in-out forwards;
    }

    @keyframes placeholderAnimation {
      from {
        left: 0;
        opacity: 0.5;
      }

      to {
        left: -20px;
        opacity: 0;
      }
    }
  }

  .steam-trade-url-input {
    border: none;
    box-sizing: border-box;
    padding: 10px;
    transition: $transition-value;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    position: relative;

    &.input-lock {
      filter: grayscale(50%) brightness(50%);
      opacity: 0.8;
    }

    &.input-success {
      animation: inputFadeout 0.5s ease-in-out forwards;
    }

    @keyframes inputFadeout {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }
  }

  .span-animation {
    animation: spanAnimation 0.2s ease-in-out forwards;
  }

  @keyframes spanAnimation {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .input-bubbles {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateY(25%);
  }

  .notify-string {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
    background-color: white;
    animation: notifyAnimation 3s ease-in-out forwards;

    @keyframes notifyAnimation {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 1;
      }

      80% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    &:hover {
      cursor: default;
    }
  }
}